<!DOCTYPE html>
{% extends "ahadis/base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'ahadis/show.css' %}" rel="stylesheet"/>
<div id="MainContainer">
    <div id="ShowBox" class="Column">
        {% for hadis in ahadis %}
        <p class="HadisMeta">{{hadis.book__name}} چاپ {{hadis.book__publisher}} جلد {{hadis.book_vol_no}} صفحه
            {{hadis.book_page_no}}</p>
        <p id="hadis{{forloop.counter}}" class="Hadis">
            {{hadis.content}}
        </p>
        {% endfor %}
    </div>
    <div id="Fehrest" class="Column">
        <div class="fehrest-cat">
            <p class="fehrest-title"> فهرست مطالب</p>
            <button id="RevayatSubjectButton2" class="AyatFehrestButtons" onclick="showRevayatSubject()">روایات</button>
            <button id="AyatSubjectSubjectButton2" class="AyatFehrestButtons" onclick="showAyatSubject()">آیات
            </button>
            <button id="AyatSubjectButton2" class="AyatFehrestButtons" onclick="showVerses()">سوره ها</button>
        </div>
        <ul class="tree" id="ul">
            <form action="{% url 'ahadis:filter_ahadis_from_fehrest_subject' %}" method="post">
                {% csrf_token %}
                <Button class="fehrest-btn" id="show-all" name="show-all" value="on" onclick="">
                    نمایش همه فهرست
                </Button>
                {% for alphabet, alphabet_value in fehrest.items %}
                <li class="section">
                    <input name="alphabet" type="checkbox" id="alphabet{{alphabet}}{{forloop.counter}}"
                           value="{{alphabet}}"/>
                    <label for="alphabet{{alphabet}}{{forloop.counter}}">
                        <Button class="fehrest-btn" name="alphabet" value="{{alphabet}}" onclick="">
                            {{alphabet}}
                        </Button>
                    </label>
                    <ul>
                        {% for subject_1, subject_1_value in alphabet_value.items %}
                        <li class="section">
                            <input name="subject_1" value="{{subject_1}}" type="checkbox"
                                   id="subject_1{{alphabet}}{{subject_1}}{{forloop.counter}}"/>
                            <label for="subject_1{{alphabet}}{{subject_1}}{{forloop.counter}}">
                                <Button class="fehrest-btn" name="subject_1" value="{{subject_1}}" onclick="">
                                    {{subject_1}}
                                </Button>
                            </label>
                            <ul id="df">
                                {% for subject_2, subject_2_value in subject_1_value.items %}
                                <li class="section">
                                    <input name="subject_2" value="{{subject_2}}" type="checkbox"
                                           id="subject_2{{alphabet}}{{subject_1}}{{subject_2}}{{forloop.counter}}"/>
                                    <label for="subject_2{{alphabet}}{{subject_1}}{{subject_2}}{{forloop.counter}}">
                                        <Button class="fehrest-btn" name="subject_2" value="{{subject_2}}" onclick="">
                                            {{subject_2}}
                                        </Button>
                                    </label>
                                    <ul>
                                        {% for narration_id, narration_id_value in subject_2_value.items %}
                                        <li class="section fehrest-narration-container">
                                            {% for e, s_l in narration_id_value.items %}
                                            <div class="summary-container">
                                                <input name="expression"
                                                       value="{{e}}"
                                                       type="checkbox"
                                                       id="expression{{alphabet}}{{subject_1}}{{subject_2}}{{e}}{{forloop.counter}}"/>
                                                <label for="expression{{alphabet}}{{subject_1}}{{subject_2}}{{e}}{{forloop.counter}}">
                                                    <Button class="fehrest-btn" name="expression" value="{{e}}">
                                                        {{e}}
                                                    </Button>
                                                </label>
                                                <ul>
                                                    {% for summary in s_l %}
                                                    <li>
                                                        <Button class="fehrest-btn" name="summary"
                                                                value="{{summary}}">
                                                            {{summary}}
                                                        </Button>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        <li>
                                            {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </form>
        </ul>
    </div>
    <div id="FehrestAyat" class="Column">
        <div class="fehrest-cat">
            <p class="fehrest-title"> فهرست مطالب</p>
            <button id="RevayatSubjectButton1" class="AyatFehrestButtons" onclick="showRevayatSubject()">روایات</button>
            <button id="AyatSubjectSubjectButton1" class="AyatFehrestButtons" onclick="showAyatSubject()">آیات
            </button>
            <button id="AyatSubjectButton1" class="AyatFehrestButtons" onclick="showVerses()">سوره ها</button>
        </div>
        <ul class="a_tree" id="ul">
            <form action="{% url 'ahadis:filter_ahadis_from_fehrest_subject_b' %}" method="post">
                {% csrf_token %}
                <Button class="fehrest-btn" id="show-all" name="a_show-all" value="on" onclick="">
                    نمایش همه فهرست
                </Button>
                {% for surah_name, verse_list in ayat_fehrest_serial.items %}
                <li class="a_section">
                    <input name="surah_name" type="checkbox" id="surah_name{{surah_name}}{{forloop.counter}}"
                           value="{{surah_name}}"/>
                    <label for="surah_name{{surah_name}}{{forloop.counter}}">
                        <Button class="fehrest-btn" name="surah_name" value="{{surah_name}}" onclick="">
                            {{surah_name}}
                        </Button>
                    </label>
                    <ul>
                        {% for verse_content, expl_expr in verse_list.items %}
                        <li class="a_section">
                            {% csrf_token %}
                            <input name="verse_content" value="{{verse_content}}" type="checkbox"
                                   id="verse_content{{surah_name}}{{verse_content}}{{forloop.counter}}"/>
                            <label for="verse_content{{surah_name}}{{verse_content}}{{forloop.counter}}">
                                <Button class="fehrest-btn" name="verse_content" value="{{verse_content}}" onclick="">
                                    {{verse_content}}
                                </Button>
                            </label>
                            <ul id="df">
                                {% for narration_id, narration_id_value in expl_expr.items %}
                                <li class="a_section fehrest-narration-container">
                                    {% for e, s_l in narration_id_value.items %}
                                    <div class="summary-container">
                                        <input name="b_expression"
                                               value="{{e}}"
                                               type="checkbox"
                                               id="b_expression{{surah_name}}{{verse_content}}{{e}}{{forloop.counter}}"/>
                                        <label for="b_expression{{surah_name}}{{verse_content}}{{e}}{{forloop.counter}}">
                                            <Button class="fehrest-btn" name="a_expression" value="{{e}}">
                                                {{e}}
                                            </Button>
                                        </label>
                                        <ul>
                                            {% for summary in s_l %}
                                            <li>
                                                <Button class="fehrest-btn" name="b_summary"
                                                        value="{{summary}}">
                                                    {{summary}}
                                                </Button>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endfor %}
                                <li>
                                    {% endfor %}
                            </ul>
                        </li>

                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </form>
        </ul>
    </div>
    <div id="FehrestAyatMozuee" class="Column">
        <div class="fehrest-cat">
            <p class="fehrest-title"> فهرست مطالب</p>
            <button id="RevayatSubjectButton3" class="AyatFehrestButtons" onclick="showRevayatSubject()">روایات</button>
            <button id="AyatSubjectSubjectButton3" class="AyatFehrestButtons" onclick="showAyatSubject()">آیات
            </button>
            <button id="AyatSubjectButton3" class="AyatFehrestButtons" onclick="showVerses()">سوره ها</button>
        </div>
        <ul class="a_tree" id="ul">
            <form action="{% url 'ahadis:filter_ahadis_from_fehrest_subject_a' %}" method="post">
                {% csrf_token %}
                <Button class="fehrest-btn" id="show-all" name="a_show-all" value="on" onclick="">
                    نمایش همه فهرست
                </Button>
                {% for alphabet, alphabet_value in ayat_fehrest.items %}
                <li class="a_section">
                    <input name="a_alphabet" type="checkbox" id="a_alphabet{{alphabet}}{{forloop.counter}}"
                           value="{{alphabet}}"/>
                    <label for="a_alphabet{{alphabet}}{{forloop.counter}}">
                        <Button class="fehrest-btn" name="a_alphabet" value="{{alphabet}}" onclick="">
                            {{alphabet}}
                        </Button>
                    </label>
                    <ul>
                        {% for subject_1, subject_1_value in alphabet_value.items %}
                        <li class="a_section">
                            {% csrf_token %}
                            <input name="a_subject_1" value="{{subject_1}}" type="checkbox"
                                   id="a_subject_1{{alphabet}}{{subject_1}}{{forloop.counter}}"/>
                            <label for="a_subject_1{{alphabet}}{{subject_1}}{{forloop.counter}}">
                                <Button class="fehrest-btn" name="a_subject_1" value="{{subject_1}}" onclick="">
                                    {{subject_1}}
                                </Button>
                            </label>
                            <ul id="df">
                                {% for subject_2, subject_2_value in subject_1_value.items %}
                                <li class="a_section">
                                    <input name="a_subject_2" value="{{subject_2}}" type="checkbox"
                                           id="a_subject_2{{alphabet}}{{subject_1}}{{subject_2}}{{forloop.counter}}"/>
                                    <label for="a_subject_2{{alphabet}}{{subject_1}}{{subject_2}}{{forloop.counter}}">
                                        <Button class="fehrest-btn" name="a_subject_2" value="{{subject_2}}" onclick="">
                                            {{subject_2}}
                                        </Button>
                                    </label>
                                    <ul>
                                        {% for narration_id, narration_id_value in subject_2_value.items %}
                                        <li class="a_section fehrest-narration-container">
                                            {% for e, s_l in narration_id_value.items %}
                                            <div class="summary-container">
                                                <input name="a_expression"
                                                       value="{{e}}"
                                                       type="checkbox"
                                                       id="a_expression{{alphabet}}{{subject_1}}{{subject_2}}{{e}}{{forloop.counter}}"/>
                                                <label for="a_expression{{alphabet}}{{subject_1}}{{subject_2}}{{e}}{{forloop.counter}}">
                                                    <Button class="fehrest-btn" name="a_expression" value="{{e}}">
                                                        {{e}}
                                                    </Button>
                                                </label>
                                                <ul>
                                                    {% for summary in s_l %}
                                                    <li>
                                                        <Button class="fehrest-btn" name="a_summary"
                                                                value="{{summary}}">
                                                            {{summary}}
                                                        </Button>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        <li>
                                            {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </form>
        </ul>
    </div>

</div>
<div id="SearchHaidsContainer" class="CenterText">
    جستجوی حدیث
    <br>
    <form class="FlexRow" action="{% url 'ahadis:search' %}" method="post">
        {% csrf_token %}
        <div>
            شامل کلمات زیر
            <input class="InputFour" type="text" name="word1"/>
            <input class="InputFour" type="text" name="word2"/>
            <input class="InputFour" type="text" name="word3"/>
            <input class="InputFour" type="text" name="word4"/>
        </div>
        <div class="mr10">
            شامل موضوعات زیر
            <input class="InputFour mr10" type="text" name="subject1"/>
            <input class="InputFour mr10" type="text" name="subject2"/>
            <input class="InputFour" type="text" name="subject3"/>
            <input class="InputFour" type="text" name="subject4"/>
        </div>
        <Button id="SubmitButton" onclick="">جستجو</Button>
    </form>
</div>
<script src="{% static 'ahadis/show.js' %}"></script>
{% endblock content %}
