.FlexRow{
    display: flex;
    direction: row;
    justify-content: space-around;
}
#FehrestAyat, #FehrestAyatMozuee{
    display: none;
}
.mr10{
    margin-right: 140px;
}
.CenterText{
    text-align: center;
}
#MainContainer{
    margin-top: 5px;
    text-align: center;
    display: flex;
}
.Column{
    border: 1px solid gray;
    padding: 5px;
    max-height: 450px;
    overflow-y: scroll;
}
#ShowButton{
    background-color: #00FF00;
}
#ShowBox{
    text-align: center;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
}
#Fehrest, #FehrestAyat, #FehrestAyatMozuee{
    width: 30%;
    min-height: 450px;
    direction: rtl;
}
#Fehrest ul, #FehrestAyat ul, #FehrestAyatMozuee ul{
    text-align: right;
}
#AyatSerial{
    display: none;
}
.Hadis{
    border-bottom: 1px solid gray;
}
.HadisMeta{
    font-weight: bold;
    font-size: 110%;
    color: gray;
}
.InputThree{
    width: 60px;
    margin: auto;
    margin-top: 5px;
    display:block;
}
.InputFour{
    width: 60px;
    margin: auto;
    margin-top: 0px;
    display: inline-block;
}
#SearchHaidsContainer{
    direction: rtl;
    border:1px solid gray;
    margin-top: 20px;
}
#SubmitButton{
    margin: auto;
    margin-top: 5px;
    display:block;
    width: 80px;
    background-color: green;
    color: white;
}
.Hadis{
    color:blue;
}
.AyatFehrestButtons{
width: 115px;
margin: 0;
}
/* (A) LIST TO MENU */
.tree, .a_tree .section ul, .a_section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tree, .a_tree {
  background: #fbfbfb;
  border: 1px solid #d2d2d2;
}
.tree li, .a_tree li {
  border-bottom: 1px solid #d2d2d2;
  padding: 1px 10px;
}
.tree li:last-child , .a_tree li:last-child {
  border: 0;
}

li:hover{
    background-color: rgba(90, 255, 90, 0.1);
    cursor: pointer
}
label{
    width: 100%;
    display: inline-block;
}
/* (B) SUB-SECTIONS */
/* (B1) TOGGLE SHOW/HIDE */
.section ul, .a_section ul { display: none; }
.section input:checked ~ ul, .a_section input:checked ~ ul { display: block; }

/* (B2) HIDE CHECKBOX */
.section input[type=checkbox], .a_section input[type=checkbox]  { display: none; }

/* (B3) ADD EXPAND/COLLAPSE ICON  */
.section, .a_section {
  position: relative;
  padding-left: 7px !important;
}
.section label:after, .a_section label:after {
  content: "\0002B";
  position: absolute;
  top: 0; left: 0;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: #f00;
  transition: all 0.5s;
}
.section label:hover, .a_section label:hover{
    cursor: pointer;
}
.section input:checked ~ label:after , .a_section input:checked ~ label:after {
  color: #23c37a;
  transform: rotate(45deg);
}

/* (B4) SUB-SECTION ITEMS */
.section ul { margin-top: 0px; }
.section ul li { color: #d43d3d; }

.fehrest-btn{
    background: transparent;
    font-size: 0.7rem;
    border: none;
    padding: 3px;
}
.fehrest-btn:hover{
    border: 1px solid black;
}
#show-all{
    background-color: #aaffaa;
}
.fehrest-cat{
    margin-bottom: 10px;
    text-direction: rtl;
}
.fehrest-title{
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.fehrest-narration-container{
    border: 1px solid #d2d2d2;
    padding: 2px;
}
.summary-container label:hover, .summary-container li:hover{
    background-color: #aaffaa;
}